# BEGIN WordPress
#<IfModule mod_rewrite.c>
#RewriteEngine On
##RewriteCond %{HTTPS} !=on
##RewriteRule ^(.*) https://%{SERVER_NAME}/$1 [R,L]

#RewriteCond %{HTTP_HOST} ^bcherry.com [NC,OR]
#RewriteCond %{HTTP_HOST} ^www.bcherry.com [NC]
#RewriteRule ^(.*)$ https://www.bcherry.com/$1 [L,R=301,NC]

#RewriteBase /
#RewriteRule ^index\.php$ - [L]
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /index.php [L]

#</IfModule>
# END WordPress
